certifi
chardet
click
cycler
dnspython
Flask
gunicorn
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
Pillow
pymango
pyparsing
python-dateutil
requests
scikit-learn
scipy
six
sklearn
threadpoolctl
urllib3
Werkzeug
wincertstore
